<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>PIMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--
  这个是放在servlet1中的，这个和web.xml只有一个配置就行了
  @WebServlet("/UpLoadFile")
  -->
    <servlet>
	<servlet-name>UpLoadFile</servlet-name>
	<servlet-class>com.wangxinwei.servlet.UpLoadFile</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>UpLoadFile</servlet-name>
	<url-pattern>/UpLoadFile</url-pattern>
	</servlet-mapping>
</web-app>